.container {
    margin: 50px auto;
    font-family: Quando;
    padding: 50px;
}

.column {
    float: left;
    width: 50%;
    
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .form-control {
    padding: 10px;
  }

  .create {
    padding: 10px;
    height: 10;
}

.col-sm-6 {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  position: absolute; 
  right: 150px;
  width: 400px;
  top: 120px;
  height: 120px;
}



.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}


/* Control the left side */
.left {
  left: 0;

  background-image: url('/static/css/murakami.png');
  background-repeat: repeat-y;
  background-position-x: -25em;
}

/* Control the right side */
.right {
  right: 0;

}



.btn-success {
  background-color: darkblue;
  border-color: white;

}

.btn-primary {
  border-color: white;
}


.btn-warning {
  background-color: rgb(218, 28, 154);
  border-color: white;
}

.go_to_meeting {
  margin-top: 116px;
  border-color: white;
}


.alert-flash {
  padding: 18px;
  background-color: rgb(44, 225, 231);
  position: relative;
  left: -20px; 
  top: -95px;
  color: black;
  font-family: Quando;
}

