/* body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
} */

.navbar {
  background: black;
  background: rgba(6, 77, 80, 0.65); 
  padding : 8px 16px;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
  font-family: IBM Plex Serif;
}
.nav-link {
  margin-right: 1em !important;
}
/* .nav-link:hover {
  color: #000;
} */

/* Moves navbar to the right */
.navbar-collapse {
  justify-content: flex-end;
}

.header {
  background-image: url('/static/css/pexels-flickr-156321.jpg');
  background-size: cover;
  background-position: center;
  /* position: relative; */
  /* opacity: 0.95; */
  background-position: 0% 42%;
}

.title {
  font-family: Quando;
  font-weight: 700;
}

/* .overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(214, 228, 26, 0.6);
} */

.description {
  left: 50%;
  position: absolute;
  top: 15%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #c8d3d3;
}
.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
  font-family: IBM Plex Serif;  
}


.features {
  margin: 4em auto;
  position: relative;
  font-family: IBM Plex Serif;  
}

.feature-title {
  color: #333;
  font-size: 1.3rem;
  /* font-weight: 700; */
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: IBM Plex Serif;  
  padding: 1em;
}
/* .features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
} */


