.container {
    margin: 50px auto;
    font-family: Arial;
    padding: 50px;
}

.column {
    float: left;
    width: 50%;
    
  }

  .create {
      padding: 10px;
      height: 10;
  }

  .list-inline-item{
    padding: 5px;
    font-weight: bold;
  }
  
  /* Clear floats after the columns */ 
 .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  } */

  .col-sm-6 {
    padding: 50px;

  }


