.container {
    margin: 50px auto;
    font-family: Arial;
    padding: 50px;
}

.column {
    float: left;
    width: 50%;
    
  }

  .create {
      padding: 10px;
      height: 10;
  }

  .list-inline-item{
    padding: 5px;
    font-weight: bold;
  }
  
  /* Clear floats after the columns */ 
 .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  } */

  .col-sm-6 {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    position: absolute; 
    right: 150px;
    width: 400px;
    top: 120px;
    height: 120px;
  }
  
  
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  
  /* Control the left side */
  .left {
    left: 0;
    background-image: url('/static/css/zadie.jpg');
    background-position-x: -40em;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  
  }


