.container {
    margin: 50px auto;
    font-family: Quando, Arial;
    padding: 50px;
}

/* .column {
    float: left;
    width: 50%;
    
  } */

  /* .create {
    padding: 5px;
    height: 10;
} */

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */


.col-sm-6 {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  position: absolute; 
  right: 150px;
  width: 400px;
  top: 120px;
  height: 120px;
}



.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}


/* Control the left side */
.left {
  left: 0;
  background-color:cornflowerblue;
  background-image: url('/static/css/toni1.png');
  background-position-x: -70em;
}

/* Control the right side */
.right {
  right: 0;

}

.modalChar {
  background-color: tomato;
  font-family: Quando;
  color: black;
}


.modalSearch {
  background-color: tomato;
  font-family: Quando;
  color: black;
}

.modalArc {
  background-color: tomato;
  font-family: Quando;
  color: black;
}

/* Create A World Buttons */
.btn-primary {
  background-color: tomato;
  border-color: orange;
}

.btn-info {
  background-color: darkblue;
  color: white;
}


.btn-default {
  background-color: teal;
  color: white;
  border-color: white;
}

.btn-warning {
  background-color: yellow;
  color: white;
  border-color: white;
}

/* Edit Project Button */
.btn-success {
  background-color: teal;
  color: white;
  border-color: white;
  top: 200px;
}


.divided {
  display: flex;
  align-items: center;
}

.divider {
  flex-grow: 100;
  border-bottom: 17px solid white;
  margin: 3px
}

.alert-flash {
  padding: 18px;
  background-color: rgb(44, 225, 231);
  color: white;
  position: relative;
  left: -10px; 
  top: -85px;
}
