.container {
    margin: 10px auto;
    font-family: Arial;
    padding: 20px;
}

body {
    background-color: thistle;
}


#text {
    width:800px;
    height: 710px;
    /* overflow:hidden; */
    /* background-color:#FFF; */
    color:#222;
    font-family: mega montserrat bold;
    font-weight:normal;
    font-size:18px;
    overflow-y: scroll;
    /* resize:none; */
    line-height:40px;
    padding-left:100px;
    padding-right:100px;
    padding-top:45px;
    padding-bottom:34px;
    background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png);
    background-repeat:repeat-y, repeat;
    /* -webkit-border-radius:92px; */
    border-radius:12px;
    /* -webkit-box-shadow: 0px 2px 14px #000; */
    box-shadow: 0px 2px 4px rgb(0, 0, 0);
    border-top:1px solid #FFF;
    border-bottom:1px solid #FFF;
    margin: 20px auto;
}

#btn-style {
    margin: 20px auto;
}

#myBtn {
    left: 670px;
    top: -75px;
    position:relative;
    background-color: rgb(161, 161, 56)
}


.form-selector {
    background-color: #0587af;
    color: white;
    padding: 6px;
    width: 250px;
    border: none;
    font-size: 16px;
    font-family: Quando;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 15px;
}

.form-selector1 {
    background-color: rgb(98, 231, 98);
    color: white;
    border-color: royalblue;
    padding: 6px;
    width: 250px;
    border: none;
    font-size: 16px;
    font-family: Quando;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 15px;
    margin-top: 40px;
}



#project_name {
    font-size: 28px;
    font-family: mega montserrat bold;
    margin-bottom: 0.4125rem;
}

#review {

}

/* .card_class {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

    
} */

#card_name {
    /* margin: 1.5rem;
    font-size: 20px; */
    font-family: Quando;
    position:relative; left:25px;
}

#card_image {
    /* margin: 1.5rem;
    position: relative; 
    top: -45px; */
    position:relative; left:25px;
    font-family: Quando;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

#card_role {
    /* margin: 1.5rem;
    position: relative; 
    margin-bottom: 30px;
    font-size: 20px; */
    font-family: Quando;
    position:relative; left:25px;
}

#card_desc {
    /* margin: 1.5rem;
    position: relative; 
    top: 4px;
    font-size: 20px; */
    font-family: Quando;
    position:relative; left:25px;
}


.fas {
    float: right;
}




