.container {
    margin: 50px auto;
    font-family: Arial;
    padding: 50px;
}

.column {
    float: left;
    width: 50%;
    
  }

  .create {
    padding: 5px;
    height: 10;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */