{% extends 'base.html' %}

{% block body %}

<h3>
    {% for group in lst_of_groups_by_user_id %}
          {{ group.group_name }}
    {% endfor %}

</h3>



<h3>{{group_name}}</h3>

<form action="/group" method="POST">
    <label for="email"><b>Enter an email to invite someone to this group:</b></label>
    <p><input type="text" placeholder="email" name="email" required></p>
    <div>
        <button type="submit">Add member to the group</button>
    </div>
</form>

<h3>Members</h3>
<p>Not yet implemented.</p>

<h3>Go to meeting</h3>
    <div>
        <a href="/meeting_page" >
            <input type="submit" value="Go to Meeting"/>
        </a>
    </div>

{% endblock %}