{% extends 'base.html' %}

{% block body %}


<h3>{{group_name}}</h3>

<form action="/group" method="POST">
    <label for="email"><b>Enter an email to invite someone to this group:</b></label>
    <p><input type="text" placeholder="email" name="email" required></p>
    <p><input type="hidden" value="{{ group_name }}" name="group_name" required></p>
    <p><input type="hidden" value="add_user" name="add_user" required></p>
    <div>
        <button type="submit">Add member to the group</button>
    </div>
</form>


<br>
<form action="/group" method="POST">
    <label for="email"><b>Enter an email to remove someone from this group:</b></label>
    <p><input type="text" placeholder="email" name="remove_user_email" required></p>
    <p><input type="hidden" value="{{ group_name }}" name="group_name" required></p>
    <p><input type="hidden"  value="remove_user" name="remove_user" required></p>
    <div>
        <button type="submit">Remove member from the group</button>
    </div>
</form>


<h3>Members</h3>
    <ul>
        {% for user in lst_of_users_by_group %}
        <li>
            {{ user.first_name + " " + user.last_name }}
            </a>
        </li>
        {% endfor %}

    </ul>


    <div>
        <form action="/meeting_page" method="POST">
            <p><input type="hidden" value="{{group_name}}" name="group_name" required></p>
            <input type="submit" value="Go to meeting"/>
        </form>
    </div>


{% endblock %}