{% extends 'base.html' %}

{% block body %}
    

<div>
    <h2>Groups</h2>
    <ul>
        {% for group in lst_of_groups_by_user_id %}
          <li>
            <a href="/group/{{ group.group_name }}">
              {{ group.group_name }}
            </a>
          </li>
        {% endfor %}

    </ul>

    <form action="/main" method="POST">
        <label for="group_name"><b>Create a new group:</b></label>
        <p><input type="text" placeholder="Enter Group Name" name="group_name" required></p>
    <div>
        <button type="submit">Create Group</button>
    </div>
    </form>
</div>

<hr>

<div>
    <h2>Projects</h2>

    <ul>
        {% for project in lst_of_projects_by_user_id %}
          <li>
            <a href="/project/{{ project.project_name }}">
              {{ project.project_name }}
            </a>
          </li>
        {% endfor %}

    </ul>

    <form action="/main" method="POST">
        <label for="project_name"><b>Create a new project:</b></label>
        <p><input type="text" placeholder="Enter Project Name" name="project_name" required></p>
        <label for="genre"><b>Genre</b></label>
        <p><input type="text" placeholder="Enter Genre" name="genre"></p>
    <div>
        <button type="submit">Create Project</button>
    </div>
    </form>
</div>



{% endblock %}