{% extends 'base.html' %}

{% block body %}

<h3 id = "group_name">{{group_name}}</h3>

<section id="select-writer">
  <h3>Select a writer to review</h3>

  <form id="get-writer">
    <select id="writer-id" name="writer_id">
      <option value="">Choose a writer</option>
      {% for user in lst_of_users_by_group %}
        <option value="{{ user.first_name + " " + user.last_name }}">{{ user.first_name + " " + user.last_name }}</option>
      {% endfor %}
    </select>
    <p><input type="hidden" value="{{ group_name }}" name="group_name" required></p>
  </form>
</section>  

  <form id="get-text">
      <textarea id ="text" rows = "30" cols = "80" name = "text">
      </textarea>
  </form>


 <div>
  <h3> Soliciting Feedback On:</h3>

      <form id="solicit_feedback">
        <p><input type="hidden" value="{{group_name}}" name="group_name" required> </p>
        <textarea id ="solicit" rows = "15" cols = "40" name = "solicit-feedback">
        </textarea>
      </form>
  </div>



{% endblock %}