{% extends 'base.html' %}

{% block body %}

<head>
    <link rel="stylesheet" href="static/css/modal.css">
    <link rel="stylesheet" href="static/css/project_page.css">

</head>

<div class="container">
    <div class="row">
        <div class="col-8">
            <h3 id="project_name">{{project_name}}</h3>

            <form action="/project_page" method="POST">

                <textarea id="text" rows="30" cols="80" name="text">
            {{show_text}}
        </textarea>

                <input type="submit" class="btn btn-primary" id="btn-style" value="Save Project" />
                <p><input type="hidden" value="{{ project_name }}" name="project_name" required></p>
            </form>


            <form action="/submit_project" method="POST">
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p>What specific feedback do you want for your project?</p>
                        <div class="modal body"></div>
                        <form action="/feedback" id="modal" method="POST">
                            <textarea rows="30"
                                placeholder="I want general feedback about the piece. Also tell me if you hate the protagonist."
                                cols="80" name="text"></textarea>
                            <input type="submit" value="Get Feedback" />
                            <p><input type="hidden" value="{{ project_name }}" name="project_name" required></p>
                        </form>
                    </div>
                </div>
                <button id="myBtn" class="btn btn-primary"> Submit Project</button>
                <p><input type="hidden" value="{{ project_name }}" name="project_name" required></p>
            </form>
        </div>



    <!-- A div with card class for the card  -->
<div class="col-4">
    <div class="row">
    <div class="card">
        <form id="card">
            <select id="selector_card" name="selector_card">
                <option class="card_selector"> Choose a card</option>
                {% for card in card_info %}
                <option value="{{card.name}}"> {{card.name}}</option>
                {% endfor %}
            </select>
        </form>
        
      <img src=>

      <!-- A div with card__details class to hold the details in the card  -->
      <div class="card__details">

        <!-- Span with tag class for the tag -->

        <!-- <span class="tag" id="name"></span>

        <span class="tag" id="desc"></span> -->

        <!-- A div with name class for the name of the card -->
        <p class="card_name"></p>

        <p class="card_desc"></p>

        <button>Read more</button>
        </form>
      </div>


    </div>
  </div>


        <div class="col-4">
            <div class="row">
                <h3 id ="reviewer"> Review feedback from:</h3>

                <form id="reviewer_feedback">
                    <select id="reviewer-id" class="form-select" name="reviewer_id">
                        <option value="">Choose a reviewer</option>
                        {% for reviewer in dict_of_reviewers %}
                        <option value="{{ reviewer }}">{{reviewer}}</option>
                        {% endfor %}
                    </select>
                    <p><input type="hidden" value="{{project_name}}" name="project_name" required> </p>
                    <textarea readonly id="review" rows="15" cols="53" name="review-feedback">
          </textarea>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/get_reviewer_feedback.js"></script>
<script src="/static/js/modal.js"></script>
<script src="/static/js/project_page.js"></script>
{% endblock %}