{% extends 'base.html' %}

{% block body %}

<h1>{{project_name}}</h1>

    <form action = "/project_page" method = "POST">
        <br>
            <textarea rows = "30" cols = "80" name = "text">
                {{show_text}}
            </textarea>
        <br>
        <input type="submit" value="Save Project"/>
        <p><input type="hidden" value="{{ project_name }}" name="project_name" required></p>
    </form>

    <form action = "/submit_project" method = "POST">

        <input type="submit" value="Submit Project"/>
        <p><input type="hidden" value="{{ project_name }}" name="project_name" required></p>
    </form>

{% endblock %}