{% extends 'base.html' %}

{% block body %}
    
    <h1>Sign Up Form</h1>
    <hr>
    <form action="/signup" method="POST">
    <label for="first_name"><b>First Name</b></label>
    <p><input type="text" placeholder="Enter First Name" name="fname" required></p>
    <label for="last_name"><b>Last Name</b></label>
    <p><input type="text" placeholder="Enter Last Name" name="lname" required></p>
    <label for="email"><b>Email</b></label>
    <p><input type="text" placeholder="Enter Email" name="email" required></p>
    <label for="password"><b>Password</b></label>
    <p><input type="password" placeholder="Enter Password" name="password" required></p>
    <label for="fav_writer"><b>Favorite Writer</b></label>
    <p><input type="text" placeholder="Optional" name="fav_writer"></p>
    <label for="fav_animal"><b>Favorite Animal</b></label>
    <p><input type="text" placeholder="Optional" name="fav_animal"></p>
    <div>
        <button type="submit">Sign Up</button>
    </div>
    </form>

{% endblock %}